body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('/assets/imageindex.png');
}

header {
    background-color: #3d3b3b09;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    color: #fff;
    text-align: center;
    padding: 10px;
    max-height: 120px;
}

section {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    max-width: 1200px;
    margin-bottom: 10%;
}

.anuncios-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.anuncio {
    font-size: 110%;
    color: black;
  backdrop-filter: blur(100px);   
  background-color: #fffdfd91;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 300px;
}

a {
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 8px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;

}

a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #3333332f;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 6%;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
