body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(0,20,121);
background: -moz-radial-gradient(circle, rgba(0,20,121,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-radial-gradient(circle, rgba(0,20,121,1) 0%, rgba(0,0,0,1) 100%);
background: radial-gradient(circle, rgba(0,20,121,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001479",endColorstr="#000000",GradientType=1);
}

header {
    background-color: #3d3b3b09;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    color: #fff;
    text-align: center;
    padding: 10px;
    max-height: 120px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 5%;
    

}

.anuncio-form {
    min-width: 400px;
    max-height: 800px;
    backdrop-filter: blur(100px);   
    background-color: #fffdfd91;
    position: static;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

form {
    
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #3333332f;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 6%;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
